In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('datasets/rossmann-store-sales/train.csv')

/tmp/ipykernel_6997/943378914.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('datasets/rossmann-store-sales/train.csv')

In [14]:
# total data point, total no. of day
len(df), len(df['Date'].unique())

(1017209, 942)

In [15]:
df.sort_values(['Date', 'Store'])

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
1016095,1,2,2013-01-01,0,0,0,0,a,1
1016096,2,2,2013-01-01,0,0,0,0,a,1
1016097,3,2,2013-01-01,0,0,0,0,a,1
1016098,4,2,2013-01-01,0,0,0,0,a,1
1016099,5,2,2013-01-01,0,0,0,0,a,1
...,...,...,...,...,...,...,...,...,...
1110,1111,5,2015-07-31,5723,422,1,1,0,1
1111,1112,5,2015-07-31,9626,767,1,1,0,1
1112,1113,5,2015-07-31,7289,720,1,1,0,1
1113,1114,5,2015-07-31,27508,3745,1,1,0,1
1114,1115,5,2015-07-31,8680,538,1,1,0,1

In [5]:
df_sort = df.sort_values('Date')

In [6]:
# latest days
latest_days = df_sort['Date'].unique()[-10:]

In [18]:
df[df['Date'].isin(latest_days)].to_csv('datasets/rossmann-store-sales/train_only_last_10d.csv', index=False)

In [19]:
df[~df['Date'].isin(latest_days)].to_csv('datasets/rossmann-store-sales/train_exclude_last_10d.csv', index=False)